.overlay.activeskills
  .scroll
    .row
      .small-12.columns
        h2 Active Skills
        //- .owl-carousel(active-skills="activeSkills" passive-skills="passiveSkills" data-options="{}")
        span(ng-repeat="(category, page) in skills | filterBy: ['type']: 'active' | groupBy: 'category'")
          h3.category {{category}}
          ul(class="small-block-grid-{{page.length}}" )
            li.skill-choice(ng-repeat="skill in page")
              .skill-slot(ng-click="chooseSkill(category, skill)" ng-class="{active: skill.name == currentSkill.name}")
                .icon: img(src="assets/images/placeholder.png")
                .name {{skill.name}}
          h4.category Runes
          span(ng-repeat="skill in page")

            //- use this if to determine if the rune is current or not
            ul.small-block-grid-6(ng-show="skill.name == skillName")
              li(ng-repeat="runes in skill.runes")
                .icon: img(src="assets/images/placeholder.png")
                .name {{runes}}
          hr

  .button.accept(ng-click="closeModal()") accept
  .button.cancel(ng-click="closeModal()") cancel
