@import "../../colors";

.skill-slot {
  cursor: pointer;
  transition: background .3s ease;
  padding: 10px;

  &.active {
    background: lighten($dark-red, 10%);
  }

  .rune-name {
    color: $orange;
  }

  &.passive {
    background: lighten($dark-red, 10%);
    text-align: center;
  }

  &:hover {
    background: $dark-orange;
  }
}
