.overlay
  .scroll
    .row
      .small-12.columns
        h2 Active Skills
        owl-carousel.owl-carousel(ng-repeat="(i, class) in classData.classes | where: {name: build.class}" active-skills="activeSkills" passive-skills="passiveSkills" data-options="{}")
          .item(ng-repeat="page in class['active_skills'] | orderBy: order" owl-carousel-item)
            h3.category {{page.name}}
            ul(class="small-block-grid-{{page.skills | keylength}}" )
              li.skill-choice(ng-repeat="skill in page.skills" ng-class="{active: skill.name == activeSkills[i]}")
                .skill-slot(ng-click="setActiveSkill(i, skill.name)")
                  .icon: img(src="assets/images/placeholder.png")
                  .name {{skill.name}}

              ul.small-block-grid-6
                li(ng-repeat="rune in currentRunes")
                  | {{currentRunes}}
                  //- .rune-slot(ng-click="setActiveRuneForSkill(rune.name, skill.name)")
                  //-   .icon: img(src="assets/images/placeholder.png")
                  //-   .name {{rune}}

  .back(ng-click="closeModal()") &larr; back
