@import "../../colors";

.skill {
  cursor: pointer;
  transition: box-shadow .3s ease;
  padding: 10px;

  &:hover {
    box-shadow: 0 0 0 3px $dark-orange;
  }

  &.active {
    background: $dark-red;
  }
  .rune-name {
    color: $orange;
  }

  &.passive {
    text-align: center;
  }
}
