.overlay
  .scroll
    .row
      .small-12.columns
        h2 Active Skills

        owl-carousel.owl-carousel(ng-repeat="(i, class) in classData.classes | where: {name: build.class}" data-options="{}")
          .item(ng-repeat="page in class['active_skills'] | orderBy: order" owl-carousel-item)
            h3.category {{page.name}}
            ul(class="small-block-grid-{{page.skills | keylength}}" )
              li.skill-choice(ng-repeat="skill in page.skills" ng-class="{active: skill.name == activeSkill}")
                .skill-slot(ng-click="setActiveSkill(skill.name)") {{skill.name}}
            div(ng-repeat="skill in page.skills | filterBy: ['name']: activeSkill")
              ul.small-block-grid-6
                li(ng-repeat="rune in skill.runes")
                  .rune {{rune}}

  .back(ng-click="closeModal()") &larr; back
